<nav class="navbar navbar-inverse" role="navigation">
  <!-- container-fluid provides container width 100vw width -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#navitems"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse" id="navitems">
      <ul class="nav navbar-nav">
        <li [routerLink]="['/recipes']" routerLinkActive="active">
          <a>Recipe</a>
        </li>
        <li
          [routerLink]="['/shoppinglist']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a>Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdownHelper>
          <a class="dropdown-toggle">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Save</a></li>
            <li><a>Fetch</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
