.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card {
    width: 25vw;
    background-color: gainsboro;
    display: flex;
    padding: 3rem;
    border-radius: 5px;
    flex-direction: column;
    vertical-align: middle;
}

label {
    font-size: 3em;
}

input {
    font-size: 3em;
    background-color: blanchedalmond;
    border: none;
    text-align: center;
}

.btn {
    margin: 0.5em 0rem;
    font-size: 3em;
    width: 4.5em;
    align-self: center;
}