<div class="container">
  <app-cockpit
    (changeServerElement)="onChangeServerElements($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let element of serverElements"
        [alias]="element"
      >
        <p #paragraphContent>
          <strong *ngIf="element.type === 'server'" style="color: red">{{
            element.content
          }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
<pdf-viewer
  [src]="src"
  [rotation]="0"
  [original-size]="false"
  [show-all]="true"
  [fit-to-page]="true"
  [zoom]="1"
  [zoom-scale]="'page-width'"
  [stick-to-page]="true"
  [render-text]="true"
  [external-link-target]="'blank'"
  [autoresize]="true"
  [show-borders]="false"
  style="width: 100%; height: 600px"
></pdf-viewer>
