<div class="row" style="margin: 2rem 0rem">
  <div class="col-md-6">
    <form (ngSubmit)="onAdd(shoppingListForm)" #shoppingListForm="ngForm">
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="name">Name</label>
          <input
            name="name"
            type="text"
            id="name"
            class="form-control"
            [(ngModel)]="Ingredient.name"
            required
          />
        </div>
        <div class="col-md-6 form-group">
          <label for="amount"> Amount </label>
          <input
            name="amount"
            type="string"
            id="amount"
            class="form-control"
            [(ngModel)]="Ingredient.amount"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-danger"
            type="submit"
            [disabled]="shoppingListForm.invalid"
          >
            {{ mode ? "Edit" : "Add" }}</button
          ><button
            class="btn btn-success"
            type="button"
            (click)="onDelete()"
            [disabled]="shoppingListForm.invalid"
          >
            Delete</button
          ><button class="btn btn-primary" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
